.table {
  font-family: arial, sans-serif;
  border-spacing: 1px 10px;
  width: 100%;
}

.td, .th {
  border: 1px solid black;
  text-align: left;
  padding: 4px 10px;
}

.tr:first-child {
    font-weight: bold;
    background-color: #acf3e4;
    font-size: 16px; 
}

.tr:nth-child(3) {
    font-weight: bold;
    font-size: 14px; 
}